<div class="search-users-block">
  <mat-card *ngIf="isSearched && (posts | async) as $posts"
            class="search-users-block__search-card-wrapper"
  >
    <mat-card-content>
      <div class="amount-user">
        <p class="amount-user__title-number" (click)="openList()">{{ $posts.length }}</p>
        <h3 class="amount-user__title">Количество человек с похожим занятием</h3>
      </div>
      <div *ngIf="showList">
        <div class="search-users" *ngFor="let post of $posts">
          <mat-card  class="search-users__search-user-card"
                     (click)="openPost(post)"
          >{{ post.user.displayName }}</mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

