.main-block
  margin: 0 -15px

.control-panel
  padding: 60px 15px 15px
  text-align: center
  border-radius: 6px
  background-color: rgba(255, 255, 255, 0.7)
  p
    font-size: 30px
    margin-bottom: 20px
    line-height: 1.6


.map-block
  div
    position: relative
    width: 100%
    height: 450px

.result-block
  width: 100%
  background: transparent
  padding: 0 !important


.posts
  background-color: rgba(255, 255, 255, 0.7)
  padding: 10px 15px

.post
  display: flex
  flex-direction: column
  margin: 5px 0 !important
  height: 280px
  padding: 0
  border-radius: 6px
  overflow: hidden
  box-shadow: 0 0 6px -2px #a4a4a4
  transition: box-shadow .5s
  background: rgba(255, 255, 255, 0.8)

  &:hover
    cursor: pointer
    box-shadow: 0 0 20px 0 #a4a4a4

  &__image-block
    flex-grow: 1
    width: 100%
    height: 150px
    position: relative
    overflow: hidden

    &__image
      width: auto
      height: auto
      min-width: 100%
      min-height: 100%
      position: absolute
      left: 50%
      top: 50%
      transform: translateX(-50%) translateY(-50%)

  &__content
    padding: 10px 10px 0


    &__title
      margin-bottom: 0
      font-size: 16px
      line-height: 1.6

    &__location-btn
      min-width: auto


.post-text
  display: flex
  div
    margin-left: 15px

.statistic-number
  display: block
  font-family: 'Kdam Thmor Pro', sans-serif
  color:  #d82323


.btn-changeTemplate
  display: block
  height: 52px
  width: 250px
  margin: 0 auto
  background: #000
  color: #fff
  text-transform: uppercase
  font-family: 'Comfortaa', cursive
  @media screen and (min-width: 576px)
    width: 360px
    margin: 0 auto
    display: block


.btn-reply
  margin: 0
  padding: 0
  background: #000000
  color: #ffff
  position: absolute
  top: 20px
  left: 0
  border-radius: 0 15px 15px 0

.user-avatar
  box-shadow: 0 0 0 2px #ffffff

.live-border
  width: 50px
  height: 50px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(90deg, rgba(54,44,232,1) 0%, rgba(10,255,209,1) 18%, rgba(202,213,39,1) 34%, rgba(9,121,19,1) 49%, rgba(54,54,255,1) 62%, rgba(230,33,33,1) 80%, rgba(0,212,255,1) 100%)

