<div mat-dialog-content
     fxLayout="column"
     fxLayoutAlign="center"
     class="post-block"
     *ngIf="post | async"
>
  <button type="button"
          class="post-block__close"
          (click)="onClose()"
  >
    <mat-icon class="post-block__close__icon">close</mat-icon>
  </button>
  <img [src]="apiUrl + '/uploads/' + postData.content" [alt]="postData.title" class="post-block__image"/>
  <mat-card-header fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card-title>{{ postData.title }}</mat-card-title>
    <mat-card-subtitle>{{ postData.user.displayName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *appUserType="'user' else anonLink">
    <button type="button"
            mat-raised-button
            color="accent"
            title="Поставить лайк"
            (click)="likePost()"
            [disabled]="!userData || checkUserLike() || (likeLoading | async)"
    >
      <app-loader [isLoading]="likeLoading | async">
        <mat-icon>favorite_border</mat-icon>
        {{ postData.likes.length }}
      </app-loader>
    </button>
    <a routerLink="/"
       type="button"
       mat-raised-button
       color="primary"
       title="Показать на карте"
       (click)="onClose()"
    >
      <mat-icon>location_on</mat-icon>
    </a>
    <button type="button" mat-raised-button color="primary">Профиль</button>
    <button type="button" mat-raised-button color="accent" disabled="true">Чат</button>
  </mat-card-actions>
  <ng-template #anonLink>
      <a class="post-block__link"
         style="text-align: center; display: block;"
         (click)="onClose()"
         routerLink="/register"
      >
        Хотите поговорить с {{ postData.user.displayName }}? Тогда пройдите регистрацию
      </a>
  </ng-template>
</div>
