<div mat-dialog-content
     fxLayout="column"
     fxLayoutAlign="center"
     class="post-block"
     *ngIf="post | async"
>
  <button type="button"
          class="post-block__close"
          (click)="onClose()"
  >
    <mat-icon class="post-block__close__icon">close</mat-icon>
  </button>
  <img [src]="apiUrl + '/uploads/' + postData.content" [alt]="postData.title" class="post-block__image"/>
  <mat-card-header fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card-title>{{ postData.title }}</mat-card-title>
    <mat-card-subtitle>{{ postData.user.displayName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *appUserType="'user' else anonLink">
    <button type="button"
            mat-raised-button
            color="accent"
            title="Поставить лайк"
            (click)="likePost()"
            [disabled]="!userData || checkUserLike() || (likeLoading | async)"
    >
      <app-loader [isLoading]="likeLoading | async">
        <mat-icon>favorite_border</mat-icon>
        {{ postData.likes.length }}
      </app-loader>
    </button>
    <a routerLink="/"
       mat-raised-button
       color="primary"
       title="Показать на карте"
       (click)="onClose()"
    >
      <mat-icon>location_on</mat-icon>
    </a>
    <button type="button" mat-raised-button color="primary">Профиль</button>
    <button type="button"
            mat-raised-button
            color="accent"
            title="Добавить в друзья"
            *ngIf="userData && !authorIsMe()"
            [disabled]="checkUserFriend() || (addFriendLoading | async)"
            (click)="addFriend()"
    >
      <app-loader [isLoading]="addFriendLoading | async">
        <mat-icon>person_add_alt</mat-icon>
      </app-loader>
    </button>
    <button type="button" mat-raised-button color="accent" disabled="true">Чат</button>
  </mat-card-actions>
  <ng-template #anonLink>
    <a class="post-block__link">
      Хотите поговорить с {{ postData.user.displayName }}? Тогда пройдите регистрацию
    </a>
    <button
      id="dialog-register-button"
      mat-raised-button
      routerLink="/register"
      (click)="goToRegister()"
    >Регистрация
    </button>
    <button
      id="dialog-login-button"
      mat-raised-button
      routerLink="/login"
      (click)="goToLogin()"
    >Вход
    </button>
  </ng-template>
</div>
