<div id="container">
  <div id="header">
    <div class="avatarSection">
      <div class="picture">
        <img
          class="picture__img"
          *ngIf="chatRoom.chattingWith.photo"
          [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"/>
        <img
          class="picture__img"
          *ngIf="!chatRoom.chattingWith.photo"
          src="../../assets/chat/noPic.svg"/>
      </div>
      <div class="nameSection">{{ chatRoom.name }}</div>
    </div>
    <div class="actionButtons">
      <img src="../../assets/chat/attached.svg"/>
      <img src="../../assets/chat/moreVertIcon.svg"/>
    </div>
  </div>
  <div id="body">
    <div
      class="message"
      [ngClass]="{ me: checkIfMe(message) }"
      *ngFor="let message of chatRoom.messages"
    >
      <div class="messageContent">
        {{ message.text }}
        <div class="time">{{ message.createdAt.slice(16, 21) }}</div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="smileyIcon">
      <img
        src="../../assets/chat/smileIcon.svg"
      />
    </div>
    <div class="textarea">
      <textarea id="textarea" name="textarea"
        [(ngModel)]="message"
        (keyup.enter)="submitMessage($event)"
      ></textarea>
    </div>
    <div id="sendIcon">
      <mat-icon (click)="sendMessage()" class="iconSend_color">send</mat-icon>
    </div>
  </div>
</div>

