<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar">
      <div class="logo-block">
        <button mat-icon-button class="sidenav-btn" *ngIf="mobWindow" [matMenuTriggerFor]="iconsMenu">
          <span class="material-icons icon-menu">menu</span>
        </button>
        <mat-menu #iconsMenu="matMenu" class="user-menu">
          <a routerLink="/search" mat-menu-item>Поиск</a>
          <a routerLink="/new-post" mat-menu-item>Добавить занятие</a>
          <a href="#" mat-menu-item>Сообщения</a>
        </mat-menu>
        <a class="logo-link" routerLink="/new-post" *appUserType="'user' else changeWay"><img class="logo-link__logo" src="./assets/images/logo.jpg" alt="Now-i-Am"></a>
        <ng-template #changeWay>
          <a class="logo-link" routerLink="/"><img class="logo-link__logo" src="./assets/images/logo.jpg" alt="Now-i-Am"></a>
        </ng-template>
      </div>
      <nav *appUserType="'user' else anonMenu" fxLayout fxLayoutAlign="center center">
        <nav *ngIf="!mobWindow" class="nav-list">
          <a routerLink="/search" class="nav-list__list-item" mat-icon-button><mat-icon>search</mat-icon></a>
          <a routerLink="/new-post" class="nav-list__list-item" mat-icon-button><mat-icon>control_point</mat-icon></a>
          <a href="#" class="nav-list__list-item" mat-icon-button><mat-icon>sms</mat-icon></a>
        </nav>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <img class="user-avatar" [src]="apiUrl + '/uploads/' +  (user | async)?.photo" alt="Фото пользователя">
        </button>
        <mat-menu #menu="matMenu" class="user-menu">
          <button mat-menu-item [disabled]="true">{{ (user | async)?.displayName }}</button>
          <a routerLink="/profile" mat-menu-item>Мой профиль</a>
          <button mat-menu-item (click)="logout()">Выйти</button>
        </mat-menu>
      </nav>
      <ng-template #anonMenu>
        <nav *ngIf="mobWindow else btnRegMenu">
          <button mat-icon-button class="btn-reg-icon" [matMenuTriggerFor]="regMenu">
            <span class="material-icons icon-reg-menu">how_to_reg</span>
          </button>
          <mat-menu #regMenu="matMenu" class="user-menu">
            <a routerLink="/register" mat-menu-item>Регистрация</a>
            <a routerLink="/login" mat-menu-item>Вход</a>
          </mat-menu>
        </nav>
      </ng-template>
    </mat-toolbar>
    <div class="content" (window:resize)="onResize($event)">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #btnRegMenu>
  <nav class="reg-btns">
    <a mat-raised-button class="reg-btns__reg-link" routerLink="/register">Регистрация</a>
    <a mat-raised-button class="reg-btns__reg-link" routerLink="/login">Вход</a>
  </nav>
</ng-template>
