.sidenav-container
  height: 100%

.mat-drawer-inner-container
  border-right: 2px solid white

.sidenav
  width: 200px

.sidenav-menu
  display: flex
  border-bottom: 2px solid white

.sidenav-btn
  margin: 10px 8px

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 10000

.mat-toolbar
  display: flex
  justify-content: space-between
  box-shadow: 0 0 10px -1px black

nav a
  margin: 0 8px

.sidenav-btn
  border: 2px solid white
  border-radius: 5px

mat-icon
  margin-bottom: 7px
  color: white

.icon-reg-menu
  text-align: center
  width: 28px
  height: 26px
  border-radius: 50%
  color: #303030 !important

.logo-block
  display: flex
  align-items: center

.logo
  font-size: 30px
  font-weight: 700
  letter-spacing: 1px
  text-decoration: none
  color: white
  margin: 0 15px

.material-icons
  font-size: 30px
  color: white

.user-menu
  display: flex
  width: 200px
  justify-content: center
  border: 2px solid white
  margin: 5px 25px
  border-radius: 15px 0 15px 0 !important
  box-shadow: 0 0 5px 3px black inset

.content
  padding: 35px 16px

.container
  max-width: 1330px
  margin: 0 auto
  padding: 0 15px

.icon-menu
  display: inline-block
  margin-bottom: 5px

.user-avatar
  width: 40px
  height: 40px
  border-radius: 50%
