<div class="my-actions-header">
  <h2 class="my-actions-header__title">История ваших занятий</h2>
</div>
<div class="my-actions-container">
  <div class="my-actions-container__content">
    <mat-card class="my-actions-item" *ngFor="let post of (posts | async)">
      <mat-card-content class="my-actions-item__content">
        <div class="my-actions-item__image-container">
          <img class="my-actions-item__image" [src]="post.content | image" [alt]="'Photo of ' + post.title">
        </div>
        <h4 class="my-actions-item__title">{{ post.title }}</h4>
        <span class="my-actions-item__time">{{ post.invisibleAtUnixTime }}</span>
        <span class="my-actions-item__likes">{{ post.likes.length }} likes</span>
        <button mat-icon-button class="my-actions-item__btn-remove" (click)="openModal(post._id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="my-actions-item__btn-update" (click)="republish(post._id)">
          <mat-icon>update</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>





