<h2 class="title">Уведомления</h2>
<div class="notifications-container">
    <mat-card class="user-item" *ngFor="let friend of friends | async">
      <mat-card-content class="user-item__content" *ngIf="!friend.isFriend">
        <div class="user-item__image-container">
          <img class="user-avatar" [src]="apiUrl + '/uploads/' + friend.user.photo " [alt]="'Photo of '">
        </div>
        <span class="user-item__name">{{ friend.user.displayName }}  <span class="user-item__text">отправил/а вам запрос на добавление в друзья</span></span>
        <button mat-icon-button class="user-item__btn">
          <mat-icon class="user-item__btn-done">done</mat-icon>
        </button>
        <button mat-icon-button class="user-item__btn" (click)="onRemove(friend.friend._id)">
          <mat-icon class="user-item__btn-clear">clear</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>







