<div class="notifications-container">
  <div class="notifications-container__header">
    <h2 class="notifications-container__title">Уведомления</h2>
  </div>
  <div class="notifications-container__content">
    <mat-tab-group class="notifications-tab">
      <mat-tab class="notifications-tab__item" label="Запросы на добавление в друзья">
        <mat-card class="user-item">
        <mat-card-content class="user-item__content">
          <div class="user-item__image-container">
            <img class="user-item__image" src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" [alt]="'Photo of '">
          </div>
          <strong class="user-item__name">User name</strong>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="primary">done</mat-icon>
          </button>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="warn">clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
        <mat-card class="user-item">
        <mat-card-content class="user-item__content">
          <div class="user-item__image-container">
            <img class="user-item__image" src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" [alt]="'Photo of '">
          </div>
          <strong class="user-item__name">User name</strong>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="primary">done</mat-icon>
          </button>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="warn">clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
        <mat-card class="user-item">
        <mat-card-content class="user-item__content">
          <div class="user-item__image-container">
            <img class="user-item__image" src="https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg" [alt]="'Photo of '">
          </div>
          <strong class="user-item__name">User name</strong>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="primary">done</mat-icon>
          </button>
          <button mat-icon-button class="user-item__btn">
            <mat-icon style="font-size: 22px" color="warn">clear</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      </mat-tab>
      <mat-tab class="notifications-tab__item" label="Прочее"> <h2>Hello world</h2> </mat-tab>
    </mat-tab-group>
  </div>
</div>





