<div id="sidebar">
  <div id="row1">
    <div class="searchBox">
      <img class="searchBox__img" width="19" src="../../assets/chat/searchIcon.svg"/>
      <input
        class="searchBox__input"
        [(ngModel)]="searchText"
        type="text"
        placeholder="Поиск"
      />
    </div>
  </div>

  <div id="sidebarContent">
    <div
      class="conversation"
      *ngFor="
        let chatRoom of chatRooms
      "
      (click)="chatRoomClicked(chatRoom)"
    >
      <div class="picture">
        <img *ngIf="!chatRoom.chattingWith.photo"
             class="picture__img"
             src="../../assets/chat/noPic.svg"/>
        <img *ngIf="chatRoom.chattingWith.photo"
             [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"
             class="picture__img"/>
      </div>
      <div class="sidebar-content-block">
        <div class="conversationHeader">
          <div class="name">{{ chatRoom.name }}</div>
<!--                    <div class="time">8:55</div>-->
        </div>
        <div class="message">
          <!--          <img class="message__img"-->
          <!--            *ngIf="!conversation.latestMessageRead"-->
          <!--            src="../../assets/chat/doubleTick.svg"-->
          <!--          />-->
          <!--                    <img class="message__img"-->
          <!--                      *ngIf="chatRoom.latestMessageRead"-->
          <!--                      src="../../assets/chat/doubleTickBlue.svg"-->
          <!--                    />-->
          {{ chatRoom.lastMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
