.mat-typography
  padding-top: 20px
  width: 300px
  min-height: 500px !important
  text-align: center
  font-family: 'Comfortaa', cursive

.user-avatar
  margin: 0 auto 25px !important
  width: 150px
  height: 150px
  overflow: hidden

.button
  height: 52px
  background: #000
  color: #fff
  text-transform: uppercase
  font-family: 'Comfortaa', cursive
  &:hover
    background-color: rgba(67, 67, 67, 0.65)
    transition: 1s
    color: #000
  @media screen and (min-width: 576px)
    width: 360px
    margin: 0 auto
    display: block
