<mat-progress-spinner
  *ngIf="(loading | async) else photoArea"
  mode="indeterminate"
></mat-progress-spinner>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<ng-template #photoArea>
  <mat-dialog-content class="mat-typography">
    <img class="user-avatar" [src]=" apiUrl + '/uploads/' + friendData.photo" [alt]="friendData.displayName">
    <mat-card-content>
      <h2 class="title" mat-dialog-title>Имя: {{ friendData.displayName }}</h2>
      <div *ngIf="!friendData.isPrivate">
        <p>
          <strong>О себе: </strong>{{ friendData.aboutMe || 'Не указано' }}
        </p>
        <p>
          <strong>Возраст: </strong>{{ friendData.age || 'Не указано' }}
        </p>
        <p>
          <strong>Пол: </strong>{{ friendData.sex === 'male' ? 'Муж.' : friendData.sex === 'female' ? 'Жен.' : 'Не указано' }}
        </p>
        <p>
          <strong>Страна: </strong>{{ friendData.country || 'Не указано' }}
        </p>
        <p>
          <strong>Город: </strong>{{ friendData.city || 'Не указано' }}
        </p>
      </div>
    </mat-card-content>
    <mat-dialog-actions>
      <button class="button" mat-dialog-close="">Закрыть</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</ng-template>
