<div class="chat-list-block">
  <div class="chat-list-block_body">
    <div class="search-block search-block_inner">
      <img
        class="search-block__img"
        width="19"
        src="../../assets/chat/searchIcon.svg"
        alt="search"
      />
      <input
        class="search-block__input"
        placeholder="Поиск"
        matInput
        [matAutocomplete]="auto"
        [formControl]="myControl"
      >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          class="search-block__option-mobile"
          [routerLink]="['/chat-room/' + chatRoom._id]"
          *ngFor="let chatRoom of (filteredChatRooms | async)" [value]="chatRoom">
          <div class="search-block__item">
            <div class="search-block__user-avatar_wrapper">
              <img
                class="search-block__user-avatar-img"
                [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"
                [alt]="chatRoom.name">
            </div>
            <div class="search-block__user-name">
              {{ chatRoom.name }}
            </div>
          </div>
        </mat-option>
        <mat-option
          class="search-block__option-desktop"
          (click)="changeChatRoom(chatRoom)"
          *ngFor="let chatRoom of (filteredChatRooms | async)" [value]="chatRoom">
          <div class="search-block__item">
            <div class="search-block__user-avatar_wrapper">
              <img
                class="search-block__user-avatar-img"
                [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"
                [alt]="chatRoom.name">
            </div>
            <div class="search-block__user-name">
              {{ chatRoom.name }}
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="chat-list-content">
      <div
        class="chat-list-content__item"
        *ngFor="let chatRoom of chatRooms">
        <div class="chat-list-content__user-icon_mobile"
             [routerLink]="['/chat-room/' + chatRoom._id]"
        >
          <img
            *ngIf="!chatRoom.chattingWith.photo"
            alt="user-icon"
            class="chat-list-content__user-img"
            src="../../assets/chat/noPic.svg"
          />
          <img
            [alt]="chatRoom.chattingWith.displayName"
            *ngIf="chatRoom.chattingWith.photo"
            [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"
            class="chat-list-content__user-img"
          />
        </div>

        <div class="chat-list-content__user-icon_desktop"
             (click)="goToChatRoom(chatRoom)"
        >
          <img
            *ngIf="!chatRoom.chattingWith.photo"
            alt="user-icon"
            class="chat-list-content__user-img"
            src="../../assets/chat/noPic.svg"
          />
          <img
            [alt]="chatRoom.chattingWith.displayName"
            *ngIf="chatRoom.chattingWith.photo"
            [src]="apiUrl + '/uploads/' + chatRoom.chattingWith.photo"
            class="chat-list-content__user-img"
          />
        </div>

        <div class="chat-list-content__info_mobile"
             [routerLink]="['/chat-room/' + chatRoom._id]"
        >
          <p class="chat-list-content__name">{{ chatRoom.name }}</p>
          <p class="chat-list-content__last-message">{{ chatRoom.lastMessage}}</p>
        </div>

        <div class="chat-list-content__info_desktop"
             (click)="goToChatRoom(chatRoom)"
        >
          <p class="chat-list-content__name">{{ chatRoom.name }}</p>
          <p class="chat-list-content__last-message">{{ chatRoom.lastMessage}}</p>
        </div>

        <div
          *ngIf="checkIfThereAreNewMessages(chatRoom.newMessagesCounter)"
          class="chat-list-content__new-messages">
            {{ chatRoom.newMessagesCounter }}
        </div>
        <div class="chat-list-content__more-icon_wrapper">
          <img
            [matMenuTriggerFor]="menu"
            class="chat-list-content__more-icon"
            alt="more-icon"
            src="../../assets/chat/moreVertIcon.svg"
          />
          <mat-menu
            #menu="matMenu"
            xPosition="before">
            <button
              mat-menu-item
              (click)="deleteChatRoom(chatRoom)"
            >Удалить
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
