<mat-card>
  <h2>Добавить новое занятие:</h2>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">

      <mat-form-field appearance="outline" class="titleField">
        <mat-label>Название</mat-label>
        <input name="title" required matInput formControlName="title" id="title"/>
        <mat-error *ngIf="fieldHasError('title', 'required')" class="invalid-form-text">
          Название обязательно!!!
        </mat-error>
      </mat-form-field>
      <div class="time-block">
        <p class="time-block__title">Таймер</p>
        <div class="select-block">
          <mat-form-field appearance="outline">
            <mat-label>Часы</mat-label>
            <mat-select placeholder="0" min="0" max="24" value="0" formControlName="hours" id="hours">
              <mat-option *ngFor="let hours of arrHours" [value]="hours">{{ hours }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Минуты</mat-label>
            <mat-select placeholder="0" value="0" formControlName="min" id="min">
              <mat-option *ngFor="let min of arrMin" [value]="min">{{ min }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="choose-image-box">
        <mat-form-field appearance="outline" fxFlex="90" *ngIf="!imageData64, else imageNow">
          <mat-label>Изображение</mat-label>
          <app-file-input name="content" formControlName="content" id="content"></app-file-input>
        </mat-form-field>
        <ng-template #imageNow>
          <img [src]="imageData64?.imageAsDataUrl" style="width: 100px; height: 100px">
          <button mat-icon-button type="button" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button type="button" style="margin-top: 10px" fxFlex="10" (click)="openModal()">
          <mat-icon style="color: #3f51b5">camera_enhance</mat-icon>
        </button>
      </div>
      <div class="sendBtn">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!form.value.title || (loading | async)"
        >ОТПРАВИТЬ
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>



