.choose-image-box
  display: flex
  justify-content: center
  flex-direction: row

mat-card
  max-width: 500px
  margin: 0 auto

mat-card h2
  text-align: center

.titleField
  padding-bottom: 0

.clockBlock
  padding-bottom: 15px

.hours-input
  margin-top: 10px

.sendBtn
  display: flex
  align-self: center

mat-icon
  color: darkblue

.time-block
  text-align: center

  &__title
    font-size: 16px
    font-weight: normal
    margin: 3px 0 10px

.select-block
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
