<div class="container">
  <div class="create-post">
    <h2 class="create-post__title">Добавь своё занятие:</h2>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" fxLayout="column">
      <mat-form-field appearance="outline" class="titleField">
        <mat-label>Напиши, чем занимаешься ты</mat-label>
        <input name="title"
               required
               matInput
               formControlName="title"
               id="title"
               [matAutocomplete]="categories.autocomplete"
               (input)="categories.getCategories(form.get('title')?.value)"
        />
        <app-autocomplete-categories #categories="appAutocompleteCategories"></app-autocomplete-categories>
        <mat-error *ngIf="fieldHasError('title', 'required')" class="invalid-form-text">
          Название обязательно!!!
        </mat-error>
      </mat-form-field>
      <div class="time-block">
        <p class="time-block__title">Таймер</p>
        <p class="time-block__subtitle">Сколько еще ты будешь заниматься этим</p>
        <div class="select-block">
          <mat-form-field appearance="outline">
            <mat-label>Часы</mat-label>
            <mat-select placeholder="0" min="0" max="24" value="0" formControlName="hours" id="hours">
              <mat-option *ngFor="let hours of arrHours" [value]="hours">{{ hours }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Минуты</mat-label>
            <mat-select placeholder="0" value="0" formControlName="min" id="min">
              <mat-option *ngFor="let min of arrMin" [value]="min">{{ min }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="choose-image-box">
        <mat-form-field appearance="outline" fxFlex="90" *ngIf="!imageData64, else imageNow">
          <mat-label>Выбери картинку или сделай новую</mat-label>
          <app-file-input name="content" formControlName="content" id="content"></app-file-input>
        </mat-form-field>
        <ng-template #imageNow>
          <img [src]="imageData64?.imageAsDataUrl" style="width: 100px; height: 100px">
          <button mat-icon-button type="button" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button type="button" class="camera-btn" (click)="openModal()">
          <mat-icon class="camera-btn__camera-icon">camera_enhance</mat-icon>
        </button>
      </div>
      <div>
        <section class="example-section">
          <mat-checkbox name="switchGeolocation" formControlName="switchGeolocation" [disabled]="!geolocation" >Поделиться местоположением</mat-checkbox>
        </section>
      </div>
      <div class="sendBtn">
        <button
          type="submit"
          mat-raised-button
          class="sendBtn__btn-send"
          [disabled]="!form.value.title || (loading | async)"
        >ОТПРАВИТЬ
        </button>
      </div>
    </form>
  </div>
</div>
