<app-centered-card title="Поиск">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="form"
  >
    <mat-form-field appearance="outline" class="form__searchInput">
      <mat-label>Название поста</mat-label>
      <input type="text"
             name="search"
             matInput
             required
             ngModel
             #search="ngModel"
      />
      <mat-error *ngIf="search.touched && search.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>
    <button mat-raised-button
            class="form__searchBtn"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" class="form__search-slider" size="sm">
        <span class="material-icons form__search-icon">search</span>
      </app-loader>
    </button>
  </form>
</app-centered-card>

<div class="search-users-block">
  <mat-card *ngIf="isSearched && (posts | async) as $posts"
            class="search-users-block__search-card-wrapper"
  >
    <mat-card-content>
      <div class="amount-user">
        <p class="amount-user__title-number">{{ $posts.length }}</p>
        <h3 class="amount-user__title">Количество найденных постов</h3>
      </div>
      <div class="search-users" *ngFor="let post of $posts">
        <mat-card class="search-users__search-user-card"
                  (click)="openPost(post)"
        >{{ post.user.displayName }}</mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
