.form
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

.searchInput
  margin-right: 20px
  @media screen and (max-width: 390px)
    margin: 0



.searchBtn
  padding: 15px 25px 0px 25px
  margin: 0 0 18px
  @media screen and (max-width: 400px)
    padding: 13px 55px 0px 55px

