<app-centered-card cardName="Поиск">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="form"
  >
    <mat-form-field appearance="outline" class="form__searchInput">
      <mat-label>Название поста</mat-label>
      <input type="text"
             name="title"
             matInput
             required
             ngModel
             #title="ngModel"
      />
      <mat-error *ngIf="title.touched && title.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>

    <mat-accordion class="filter-block">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Расширенный поиск
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-block__slider">
          <mat-slider min="5" max="90" step="1" value="5" thumbLabel ngModel name="birthday"></mat-slider>
          <span>Укажите возраст</span>
        </div>

        <mat-form-field appearance="outline" class="filter-block__sex">
          <mat-label>Пол</mat-label>
          <mat-select name="sex" ngModel>
            <mat-option value="male">Мужской</mat-option>
            <mat-option value="female">Женский</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-block__city">
          <mat-label>Город</mat-label>
          <input type="text" name="city" matInput [formControl]="myControl" [matAutocomplete]="auto" ngModel/>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.city}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <p class="is-private-block">
          <mat-checkbox name="isPrivate" ngModel>Только открытые профили</mat-checkbox>
        </p>

      </mat-expansion-panel>
    </mat-accordion>

    <div>
      <button mat-raised-button
              class="form__searchBtn"
              type="submit"
              [disabled]="f.invalid || (isLoading | async)"
      >
        <app-loader [isLoading]="isLoading | async" class="form__search-slider" size="sm">
          <span class="material-icons form__search-icon">search</span>
        </app-loader>
      </button>
    </div>
  </form>
</app-centered-card>
