<app-centered-card title="Поиск">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="form"
  >
    <mat-form-field appearance="outline" class="searchInput">
      <mat-label>Название поста</mat-label>
      <input type="text"
             name="search"
             matInput
             required
             ngModel
             #search="ngModel"
      />
      <mat-error *ngIf="search.touched && search.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>
    <button mat-raised-button
            class="searchBtn"
            color="primary"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" size="sm">
        <span class="material-icons">search</span>
      </app-loader>
    </button>
  </form>
</app-centered-card>
