<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else friendsArea" mode="indeterminate"></mat-progress-spinner>

<ng-template #friendsArea>
  <div class="friends-block" *ngIf="(friends | async)?.length">
    <h2 class="friends-block__title">Мои друзья</h2>
    <div class="friends-block__container" fxLayout="row center">
      <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" *ngFor="let friend of friends | async">
        <mat-card class="friend-card" *ngIf="friend.isFriend">
          <h3 class="friend-card__title">{{ friend.user.displayName }}</h3>
          <div class="friend-card__img-block">
            <img class="user-avatar" [src]="friend.user.photo | image" [alt]="'Photo of ' + friend.user.displayName">
          </div>
          <mat-divider inset></mat-divider>
          <mat-card-actions class="btn-block">
            <button class="btn-block__btn" (click)="openProfileModal(friend.user._id)"><span class="material-icons">person</span></button>
            <button class="btn-block__btn" (click)="goToChat(friend.user._id)"><span class="material-icons">question_answer</span></button>
            <button class="btn-block__btn" (click)="removeFriend(friend.user._id)"><span class="material-icons">delete</span></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="friends-block" *ngIf="!(friends | async)?.length">
    <h3 class="friends-block__title">Добавь новых друзей!</h3>
  </div>
</ng-template>


