.friends-block
  text-align: center

  &__title
    font-size: 44px
    font-weight: bold
    font-style: italic

.friend-card
  background: #81c0ff
  overflow: hidden

  &__title
    font-size: 20px
    font-weight: bold

  &__img-block
    max-width: 330px
    height: auto
    margin: 10px auto

  &__img
    width: 100%
    height: auto
    border-radius: 10%

.btn-block
  display: flex
  justify-content: space-around
  flex-wrap: wrap

  &__btn-person
    margin: 5px !important

  &__btn-chat
    margin: 5px !important
    background: violet

  &__btn-remove
    margin: 5px !important
    background: red
