.friends-block
  text-align: center

  &__title
    font-size: calc(1em + 2vw)
    text-align: center
    padding: 35px 0 10px

  &__container
    max-width: 768px
    margin: 0 auto
    background-color: rgba(255, 255, 255, 0.7)
    padding: 10px
    position: relative
    border-radius: 10px

.friend-card
  margin: 5px
  &__title
    font-family: 'Comfortaa', cursive
    margin-bottom: 15px

.user-avatar
  width: 100px
  height: 100px

.btn-block
  display: flex
  justify-content: space-around
  flex-wrap: wrap

  &__btn
    margin: 5px !important
    background: #000000
    color: #fff
    padding: 0 10px

