.friends-block
  text-align: center

  &__title
    font-size: 44px
    font-weight: bold
    padding: 15px 0
    --start: 15%
    color: white
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db)
    overflow: hidden

.friend-card
  height: auto
  --start: 15%
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db)
  overflow: hidden

  &__title
    font-size: 20px
    font-weight: bold
    color: white

  &__img-block
    max-width: 330px
    height: auto
    margin: 10px auto

  &__img
    width: 100%
    height: auto
    border-radius: 10%

.btn-block
  display: flex
  justify-content: space-around
  flex-wrap: wrap

  &__btn-person
    margin: 5px !important

  &__btn-chat
    margin: 5px !important
    background: violet

  &__btn-remove
    margin: 5px !important
    background: red
