.centered-card
  font-family: 'Comfortaa', cursive
  max-width: 400px
  text-align: center
  margin: 5% auto 0
  background: transparent
  @media screen and (min-width: 576px)
    margin-top: 10%

.card-title
  font-size: calc(1.5em + 2vw)
