.centered-card
  font-family: 'Comfortaa', cursive
  background: transparent
  margin-top: 25%
  max-width: 650px

  @media screen and (min-width: 576px)
    margin-top: 10%

.card-title
  font-size: 36px

