<app-centered-card cardName="Регистрация">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        fxLayout="column"
  >
    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input type="text"
             name="displayName"
             matInput
             ngModel
             #name="ngModel"
             required
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Почтовый адрес</mat-label>
      <input type="email"
             name="email"
             matInput
             autocomplete="username"
             ngModel
             #email="ngModel"
             required
             email
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Некорректный почтовый адрес
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input [type]="hide ? 'password' : 'text'"
             name="password"
             matInput
             autocomplete="password"
             ngModel
             appPassword
             #password="ngModel"
             minlength="6"
             required
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('passwordError')">
        Пароль должен состоять из букв латинского алфавита (A-z) и арабских цифр (0-9)
      </mat-error>
      <mat-error *ngIf="password.touched && password.hasError('minlength')">
        Длина пароля должна быть не менее 6
      </mat-error>
    </mat-form-field>
    <button mat-raised-button
            class="btn-register"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" size="sm">
        Зарегистрироваться
      </app-loader>
    </button>
    <span style="text-align: center; padding-top: 10px">
      Вход при помощи:
    </span>

    <div fxLayout="row" fxLayoutAlign="center">
      <button
        class="btn-social"
        type="button"
        mat-raised-button
        color="default"
        (click)="fbLogin()"
        style="margin: 16px 5px 0"
      >
        <img src="assets/icons/fb.svg" alt="facebook logo"/>
      </button>
      <button
        class="btn-social"
        type="button"
        mat-raised-button
        color="default"
        (click)="googleLogin()"
        style="margin: 16px 5px 0"
      >
        <img src="assets/icons/google-icon.svg" alt="google logo"/>
      </button>
      <button
        class="btn-social"
        type="button"
        mat-raised-button
        color="default"
        (click)="vkLogin()"
        style="margin: 16px 5px 0"
      >
        <img src="assets/icons/vk.svg" alt="google logo"/>
      </button>
    </div>
  </form>
</app-centered-card>
