<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Все посты</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else postsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #postsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let post of posts | async">
      <mat-card>
        <mat-card-title>
          <img [src]="post.content | image" [alt]="'Photo of ' + post.content" mat-card-image>
        </mat-card-title>
        <mat-card-content>
          <p>{{ post.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>




