<div class="home-block">
  <div class="logo">
    <img alt="logo" src="./assets/images/logo.svg">
  </div>
  <h3 class="home-title">Каждую секунду люди во всем мире чем-то заняты...</h3>
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        class="home-form"
  >
    <mat-form-field appearance="outline" class="home-form-field">
      <mat-label>Название занятия</mat-label>
      <input type="text" class="home-input"
             name="search"
             matInput
             required
             ngModel
             #search="ngModel"
      />
      <mat-error *ngIf="search.touched && search.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>
    <p class="home-subtitle">Посмотри сколько людей занимаются тем же</p>
    <button mat-raised-button
            class="home-btn"
            [disabled]="f.invalid || (isLoading)"
    >
      <app-loader [isLoading]="isLoading" class="" size="sm">
        <span>Посмотреть</span>
      </app-loader>
    </button>
  </form>
  <div class="block-btn">
    <button mat-raised-button class="home-btn home-btn-auth" (click)="login()">Вход</button>
    <button mat-raised-button class="home-btn home-btn-auth" (click)="register()">Регистрация</button>
  </div>
</div>


