.home-block
  padding-top: 25%
  text-align: center


  @media screen and (min-width: 576px)
    padding-top: 10%


.home-title
  font-size: calc(1em + 2vw)

.home-form
  padding: 25px 0
  max-width: 650px
  margin: 0 auto


.home-form-field
  width: 90%

.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-appearance-outline .mat-form-field-outline
  background: transparent!important

.home-subtitle
  font-size: calc(0.8em + 1vw)
  padding-top: 10px
  margin: 0 0 20px


.home-btn
  width: 90%
  height: 52px
  background: #000
  color: #fff
  text-transform: uppercase
  letter-spacing: 1px
  font-family: 'Comfortaa', cursive
  &:hover
    background-color: rgba(67, 67, 67, 0.65)
    transition: 1s
    color: #000
  @media screen and (min-width: 576px)
    width: 360px


