<app-centered-card cardName="Редактировать профиль">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
  >

     <mat-form-field appearance="outline" *ngIf="isPhotoExists; else emptyPhoto">
       <mat-label>Фото профиля</mat-label>
       <input type="text"
              name="photo"
              matInput
              ngModel
              disabled="true"
       />
       <button type="button"
               mat-raised-button
               color="warn"
               class="remove-photo-btn"
               (click)="onRemovePhoto()"
       >Удалить
       </button>
     </mat-form-field>
     <mat-form-field appearance="outline">
       <mat-label>Имя</mat-label>
       <input type="text"
              name="displayName"
              matInput
              ngModel
              #name="ngModel"
              required
       />
       <mat-error *ngIf="name.touched && name.hasError('required')">
         Поле обязательное для ввода
       </mat-error>
     </mat-form-field>


    <ng-template #emptyPhoto>
      <mat-form-field appearance="outline">
        <mat-label>Фото профиля</mat-label>
        <app-file-input name="photo"
                        accept="image/png, image/gif, image/jpeg"
                        ngModel
                        #photo="ngModel"
        ></app-file-input>
        <mat-error *ngIf="photo.touched && photo.hasError('accept')">
          Загружать можно только изображения
        </mat-error>
      </mat-form-field>
    </ng-template>


      <mat-form-field appearance="outline">
        <mat-label>О себе</mat-label>
        <input type="text"
               name="aboutMe"
               matInput
               ngModel
        />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Дата рождения</mat-label>
        <input matInput [matDatepicker]="picker" name="age" id="age" ngModel>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
     <mat-form-field appearance="outline">
      <mat-label>Пол</mat-label>
      <mat-select name="sex" ngModel>
        <mat-option value="male">Мужской</mat-option>
        <mat-option value="female">Женский</mat-option>
      </mat-select>
    </mat-form-field>
     <mat-form-field appearance="outline" class="filter-block__city">
      <mat-label>Страна</mat-label>
      <input type="text"
             name="country"
             matInput
             ngModel
             #country="ngModel"
             [matAutocomplete]="auto"
             (ngModelChange)="getCities(country.value)"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async"
                    [value]="country.country"
        >
          {{ country.country }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
     <mat-form-field appearance="outline" class="filter-block__city">
       <mat-label>Город</mat-label>
       <mat-select name="city"
                   ngModel
                   [disabled]="!country.value"
       >
         <mat-option *ngFor="let city of cities"
                     [value]="city.city">
           {{ city.city }}
         </mat-option>
       </mat-select>
     </mat-form-field>

    <div class="is-private-block">
      <mat-checkbox name="isPrivate" ngModel>Приватный профиль</mat-checkbox>
    </div>

    <button class="btn"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" size="sm">
        Сохранить
      </app-loader>
    </button>
  </form>
</app-centered-card>
