<app-centered-card title="Редактировать профиль">
  <form (ngSubmit)="onSubmit()"
        #f="ngForm"
        fxLayout="column"
  >
    <mat-form-field appearance="outline" *ngIf="isPhotoExists; else emptyPhoto">
      <mat-label>Фото профиля</mat-label>
      <input type="text"
             name="photo"
             matInput
             ngModel
             disabled="true"
      />
      <button type="button"
              mat-raised-button
              color="warn"
              class="remove-photo-btn"
              (click)="onRemovePhoto()"
      >Удалить
      </button>
    </mat-form-field>
    <ng-template #emptyPhoto>
      <mat-form-field appearance="outline">
        <mat-label>Фото профиля</mat-label>
        <app-file-input name="photo"
                        accept="image/png, image/gif, image/jpeg"
                        ngModel
                        #photo="ngModel"
        ></app-file-input>
        <mat-error *ngIf="photo.touched && photo.hasError('accept')">
          Загружать можно только изображения
        </mat-error>
      </mat-form-field>
    </ng-template>
    <mat-form-field appearance="outline">
      <mat-label>Отображаемое имя</mat-label>
      <input type="text"
             name="displayName"
             matInput
             ngModel
             #name="ngModel"
             required
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        Поле обязательное для ввода
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>О себе</mat-label>
      <input type="text"
             name="aboutMe"
             matInput
             ngModel
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" name="age" id="age" ngModel>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Пол</mat-label>
      <mat-select name="sex" ngModel>
        <mat-option value="male">Мужской</mat-option>
        <mat-option value="female">Женский</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Страна</mat-label>
      <mat-select name="country" ngModel>
        <mat-option *ngFor="let c of country | async" [value]="c.name.official"
                    (click)="onChoiceCountry(c.name.official)">{{ c.name.official }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Город</mat-label>
      <mat-select name="city" ngModel [disabled]="town">
        <mat-option *ngFor="let c of city" [value]="c">{{ c }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p class="is-private-block">
      <mat-checkbox name="isPrivate" ngModel>Приватный профиль</mat-checkbox>
    </p>
    <button mat-raised-button
            color="primary"
            [disabled]="f.invalid || (isLoading | async)"
    >
      <app-loader [isLoading]="isLoading | async" size="sm">
        Сохранить
      </app-loader>
    </button>
  </form>
</app-centered-card>
