<app-centered-card cardName="Восстановление пароля">
  <div *ngIf="error | async" class="error">
    {{ (error | async)?.error }}
  </div>

  <form (ngSubmit)="onSubmit()"
        fxLayout="column"
        #f="ngForm"
        autocomplete="off"
  >
    <mat-form-field appearance="outline">
      <mat-label>Почтовый адрес</mat-label>
      <input type="email"
             name="email"
             matInput
             autocomplete="username"
             ngModel
             #email="ngModel"
             required
             email
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Поле обязательно для ввода
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Некорректный почтовый адрес
      </mat-error>
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            class="btn"
            style="margin-top: 10px"
            [disabled]="f.invalid || (loading | async)"
    >
      <app-loader [isLoading]="loading | async" size="sm">
        Получить код восстановления
      </app-loader>
    </button>
  </form>
</app-centered-card>

