node_modules
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/drinkingcoffee.jpg
!public/uploads/enjoycola.jpeg
!public/uploads/drinkingtea.jpg
!public/uploads/james.jpeg
!public/uploads/caitlyn.jpg
