.chat-block
  display: flex

.chat-list
  width: 30%

.chat-room
  width: 70%
  background: #fff

@media (max-width: 1000px)
  .chat-list
    width: 40%

  .chat-room
    width: 60%

@media (max-width: 730px)
  .chat-list
    width: 100%

  .chat-room
    display: none
